<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <%- include('partials/nav') %>
  <section>
    <h2>About Us</h2>
    <p>Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id purus nisl.</p>
  </section>
  <section>
    <h2>Latest News</h2>
    <p>Stay tuned for exciting updates and news!</p>
  </section>
  <%- include('partials/footer') %>
</body>
</html>